{% extends 'layout/base.html' %}

{% block content %}
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">cenefa</th>
      <th scope="col">address</th>
      <th scope="col">audio</th>
      <th scope="col">longitude</th>
      <th scope="col">latitude</th>
    </tr>
  </thead>
  <tbody>
  {% for bus_station in busstation_list %}
    <tr>
      <th scope="row">{{ bus_station.id }}</th>
      <td>{{ bus_station.code }}</td>
      <td>{{ bus_station.name }}</td>
      <td>{{ bus_station.cenefa }}</td>
      <td>{{ bus_station.address }}</td>
      <td>{{ bus_station.audio }}</td>
      <td>{{ bus_station.longitude }}</td>
      <td>{{ bus_station.latitude }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
