{% extends 'layout/base.html' %}

{% block content %}

<ul class="list-group">
  <li class="list-group-item">
    <span style="border-left: none; border-bottom: 5px solid {{ route.color }};">
      {{ route.code }}
    </span>
  </li>
  <li class="list-group-item">{{ route.name }}</li>
</ul>

<hr class="m2">

<div id='map' style='width: 100%; height: 700px;'></div>

<hr class="m2">

<div class="row">
{% for route_station_group in route_station_groups %}
  <div class="col">
    <div>Recorrido {{ forloop.counter }}</div>
    <table class="table table-sm small">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
      {% for route_station in route_station_group %}
        <tr>
          <th scope="row">{{ route_station.position }}</th>
          <td>{{ route_station.bus_station.code }}</td>
          <td>
            <a href="{{ route_station.bus_station.get_absolute_url }}">
              {{ route_station.bus_station.name }}
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
</div>

<script type="text/javascript">
  mapboxgl.accessToken = 'pk.eyJ1IjoidmVybzRrYSIsImEiOiJjYWNlMWY0Zjk0MGJhNWRmNDIzNmVjNjc0NDRhMjllOCJ9.fRmHavGBvl6wWemwMZBbfA';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-74.072092, 4.7109886],
    zoom: 11
  });

{% for route_station_group in route_station_groups %}
  const layer{{ forloop.counter }} = {
    'id': 'route{{ forloop.counter }}',
    'type': 'line',
    'source': 'route{{ forloop.counter }}',
    'layout': {
      'line-join': 'round',
      'line-cap': 'round'
    },
    'paint': {
      'line-color': '#888',
      'line-width': 3
    }
  }
  map.on('load', () => {
    map.addSource('route{{ forloop.counter }}', {
      'type': 'geojson',
      'data': {
        'type': 'Feature',
        'properties': {},
        'geometry': {
          'type': 'LineString',
          'coordinates': [
          {% for route_station in route_station_group %}
            [{{ route_station.bus_station.longitude }}, {{ route_station.bus_station.latitude }}]{% if not forloop.last %},{% endif %}
          {% endfor %}
          ]
        }
      }
    });
    map.addLayer(layer{{ forloop.counter }});
  });
{% endfor %}
</script>
{% endblock content %}
